@font-face { /* Définition d'une nouvelle police nommée MyriadPro */
  font-family: 'MyriadPro-Bold';
  src: url(font/myriad-pro-master/MyriadPro-Bold.eot) format ('embedded-opentype'),
      url(font/myriad-pro-master/MyriadPro-Bold.svg) format ('svg'),
      url(font/myriad-pro-master/MyriadPro-Bold.ttf) format('truetype'), 
      url(font/myriad-pro-master/MyriadPro-Bold.woff) format('woff');
}

@font-face {
  font-family: 'MyriadPro-It';
  src: url(font/myriad-pro-master/MyriadPro-It.eot) format ('embedded-opentype'),
  url(font/myriad-pro-master/MyriadPro-It.svg) format ('svg'),
  url(font/myriad-pro-master/MyriadPro-It.ttf) format('truetype'), 
  url(font/myriad-pro-master/MyriadPro-It.woff) format('woff');
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url(font/myriad-pro-master/MyriadPro-Regular.eot) format('embedded-opentype'),
  url(font/myriad-pro-master/MyriadPro-Regular.svg) format('svg'),
  url(font/myriad-pro-master/MyriadPro-Regular.ttf) format('truetype'),
  url(font/myriad-pro-master/MyriadPro-Regular.woff) format('woff');
}

*{
  font-family: 'MyriadPro-Bold', 'MyriadPro-It', 'MyriadPro-Regular', sans-serif;
  margin: 0px;
  padding: 0px;
 }

header{
  display: flex;
  width: 100%;
} 
.entete{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}
.imglogo{

}
.logo{
  flex: 2 1 auto;
}

.adress{
  flex: 1 1 auto;
  text-align: right;
}


@media screen and (max-width: 768px) {
  .image1120{
    display: none;
  }
  .image993{
    display: none;
  } 
  .image704{
    display: inline;
    justify-content: center;
  
  }   
  .adress{
    text-align: center;
  }
  .contact{
    display: inline;
  }
  .villerue{
    display: inline;
  }
  div.promotions div.right{
    flex: 0 0 70%;
  }
  .grid-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }
  .produit{
    display: grid;
    justify-content: center;
    width: 336px;
    background-color: #f6f6f6;
  }
  .init{
    display: none;
  }
  .image336{
    display: inline;
  }
  footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    }
  .fb{
    order: -1;
    margin-bottom: 20px;
  }
  li.footer::before{
    content : "\2022";
    margin-right: 3px;
  }
  li.AGRÉMENT::before{
    display: none;
  }
  li.AGRÉMENT{
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 576px){
  .image336{
    display: none;
  }
  .image993{
    display: none;
  }
  .image1120{
    display: none;
  }
  .image704{
    display: none;
  }
  .imagemobile{
    display: inline;
  }
  .grid-main{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  .produit{
    display: grid;
    justify-content: center;
    width: 512px;
    background-color: #f6f6f6;
  }
  header{
    margin: 0;
  }
  .logo{
    display: none;
  }
  .logomini{
    display: inline;
  }
  .wrapper{
    margin: 0;
    padding: 0;
  }
  div .imglogo{
    display: flex;
    margin: auto;
    padding: 25px;
  }
  div .adress{
    padding: 25px;
  }
  .villerue{
    display: none;
  }
  .nav{
    display: none;
  }
  .navmob{
    height: 64px;
    background-color: #1a1a1a;
  }
  li.navmob {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    height: 64px;
    margin: auto;
    vertical-align: middle;
  }
  nav.navmob a{
    display: block;
    text-overflow: clip;
    height: 30px;
    padding: 17px 30px;
    text-decoration: none;
    color:white;
    background-color: #1a1a1a;
  }
  nav.navmob a:hover, li.navmob:hover{
    background-color: white;
    text-transform: uppercase;
    color: #1f6882;
    font-weight: bold;
  }
  div.promotions div.right{
    flex: 0 0 57%;
  }
}
  